.chart {
  width: 100%;
  height: 600px;
}

.chart-donut-wrap {
  height: 100px;
  overflow: hidden;
  margin: 2em;
}

.chart-donut {
  border-radius: 50%;
  border: 10px solid red;
  height: 200px;
  width: 200px;

  overflow: hidden;
}

.chart-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: space-between;
  height: 300px;
  margin: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  counter-reset: section;
}

.chart-bar-item {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 200px;
  background: red;
  min-width: 1em;
  margin: 0 .3em;
  position: relative;
  box-sizing: border-box;
}

.chart-bar-item:before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 0;
  right: 0;
  width: 100% 3;
  text-align: center;
}

.chart-bar-item:hover {
  background: yellow;
  border: 1px solid #000;
  border-bottom: none;
  cursor: pointer;
}

.chart-bar-item:nth-child(2) {
  height: 50px;
}

.nav-chart {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nav-chart li {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 25%;
  border-right: 1px solid #666;
}

.nav-chart li:last-child {
  border: none;
}

.nav-chart a {
  position: relative;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.nav-chart .active a:before {
  content: "\25bc";
  font-size: 1.5em;
  display: block;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -10px;
  line-height: 1;
  color: #fff;
}

.nav-chart a:hover,
.nav-chart .active a {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.8))) !important;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%) !important;
}

.nav-chart .active a {
  border: solid rgba(255, 255, 255, .1);
  border-width: 0 1px;
}